@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');
nav,footer{
    background-color: #473F47;
    padding: 25px;
    text-align: center;
    
}
nav a{
    color: #c3c0e0;
    margin: 40px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px;
}

h1{
    color: #473F47;
    text-align: center;
    font-family: Pacifico,Georgia, serif,'Times New Roman', Times;
    margin: 50px 0px;
    
}
img{
    width: 80%;
    border: 4px double #473F47;
    display: block;
    margin: 0 auto;
    box-shadow: 15px 15px 10px;
}
p{
    padding: 10px;
    width: 80%;
    color: black;
    text-align: center;
    display: block;
    margin: 50px auto;
}
.main-para{
    font-size: 1.5em;
}
#active{
    background-color: #c3c0e0;
    color: #473F47;
}
footer{
    font-size: 20px;
}
footer p{
    color: #c3c0e0;
}